
main{
    background-color: rgb(168, 160, 160);
    /* height: 100%; */
    padding: 50px 50px;
    color: white;
    background-image: url(./images/react-icon3.jpeg);
    background-repeat: no-repeat;
    background-position: 103% 70%;
}
image{
    size: 60%;
}

h1{
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-align: center;     */
    letter-spacing: -0.02em;
    text-align: center;

}

ul {
    line-height: 1.9;
    word-spacing: 3px;
    font-weight: 800;
    font-size: 50px;
    padding-block: 10px;
}
::marker{
    color:rgb(61, 167, 219); ;
    font-size: 1.3em ;
}